Nodered/flow.json
[{"id":"133871e1d2bb2af3","type":"tab","label":"WeatherXM API","disabled":false,"info":"","env":[]},{"id":"980238bdce77a60d","type":"http request","z":"133871e1d2bb2af3","name":"API request. (api.weatherxm.com)","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.weatherxm.com/api/v1/cells/87196d152ffffff/devices","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":420,"y":340,"wires":[["ddc4fa851900c7e2","d3c29bb3239d1ac8","115082749256eab7","a9e8d855b2643c5f","7e9fdae626f21787","cb585f293d8db564","eb481d9a98b4be1e","7ce011821b9c9777","81e8ecd1e1f56cd7"]]},{"id":"cfd32cb123333aca","type":"inject","z":"133871e1d2bb2af3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":340,"wires":[["980238bdce77a60d"]]},{"id":"d3c29bb3239d1ac8","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_humidity","entityConfig":"31bdc9e54ef9912f","version":0,"state":"payload[0].current_weather.humidity","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":240,"wires":[[]]},{"id":"ddc4fa851900c7e2","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_temperature","entityConfig":"bf1cef14b98b9051","version":0,"state":"payload[0].current_weather.temperature","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":870,"y":120,"wires":[[]]},{"id":"115082749256eab7","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_windspeed","entityConfig":"0a33985c776d58bc","version":0,"state":"payload[0].current_weather.wind_speed","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":870,"y":300,"wires":[[]]},{"id":"a9e8d855b2643c5f","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_gust","entityConfig":"7cb9dbdd8971668e","version":0,"state":"payload[0].current_weather.wind_gust","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":840,"y":360,"wires":[[]]},{"id":"7e9fdae626f21787","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_winddirection","entityConfig":"586c37d6069c6b2b","version":0,"state":"payload[0].current_weather.wind_direction","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":870,"y":420,"wires":[[]]},{"id":"cb585f293d8db564","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_uvindex","entityConfig":"791a59768c8ce57d","version":0,"state":"payload[0].current_weather.uv_index","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":480,"wires":[[]]},{"id":"eb481d9a98b4be1e","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_precipitation","entityConfig":"a46fb12d55627f31","version":0,"state":"payload[0].current_weather.precipitation","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":870,"y":540,"wires":[[]]},{"id":"7ce011821b9c9777","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_feelslike","entityConfig":"6847c1037a360b75","version":0,"state":"payload[0].current_weather.feels_like","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":180,"wires":[[]]},{"id":"81e8ecd1e1f56cd7","type":"ha-sensor","z":"133871e1d2bb2af3","name":"weatherxm_pressure","entityConfig":"cf8d9d8f13abcfd8","version":0,"state":"payload[0].current_weather.pressure","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":600,"wires":[[]]},{"id":"31bdc9e54ef9912f","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_humidity","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_humidity"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"humidity"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"bf1cef14b98b9051","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_temperature","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_temperature"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"0a33985c776d58bc","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_windspeed","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_windspeed"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"wind_speed"},{"property":"unit_of_measurement","value":"km/h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"7cb9dbdd8971668e","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_gust","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_gust"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"wind_speed"},{"property":"unit_of_measurement","value":"km/h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"586c37d6069c6b2b","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_winddirection","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_winddirection"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"°"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"791a59768c8ce57d","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_uvindex","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_uvindex"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"uv"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"a46fb12d55627f31","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_precipitation","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_precipitation"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"mm"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"6847c1037a360b75","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_feelslike","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_feelslike"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"temperature"},{"property":"unit_of_measurement","value":"°C"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"cf8d9d8f13abcfd8","type":"ha-entity-config","server":"457b8122.19db5","deviceConfig":"","name":"weatherxm_pressure","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"weatherxm_pressure"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":"pressure"},{"property":"unit_of_measurement","value":"hPa"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"457b8122.19db5","type":"server","name":"Home Assistant","version":5,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
